#boot-screen {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	z-index: 1000004; /* Absurdly high number */
	background-color: black;
	color: yellow;
	padding: 4px;

	display: flex;
	flex-direction: column;
	gap: 2px;
}
#boot-screen.fade-out {
	transition: opacity 500ms ease-out;
	opacity: 0;
}
