@import url('https://debutter.dev/x/css/simple.css');

html, body {
    height: 100%;
}

body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    height: 100%;
    overflow: hidden;
    text-size-adjust: none;
    background-color: black;
}

*, ::before, ::after {
    box-sizing: border-box;
    font-variant-numeric: tabular-nums;
    text-rendering: optimizelegibility;
    user-select: none;
}

/* Generic styles */
.flex-spacer {
    flex: 1;
}

/* Moving content styles */
.moveable {
	transition: filter 0.1s ease-in-out;
}
.moving {
    cursor: grabbing !important;
	filter: drop-shadow(rgba(0, 0, 0, 0.5) 3px 3px 0px);
}
.fix-drag {
    pointer-events: none;
}
