:root {
	--backgroundcolor: #fcfcfc;
	--textcolor: #0c0c0c;
}

html, body {
	overflow: hidden;
	margin: 0px;
	min-height: 100%;
	height: 100%;
	
	background-color: var(--backgroundcolor);
	color: var(--textcolor);
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

/* Window styles */
.window {
	position: absolute;
	display: flex;
	flex-direction: column;
	
	overflow: hidden;
	background: var(--backgroundcolor);
	border: solid 1px rgba(22, 22, 22, 1);
	border-radius: 6px;
	filter: drop-shadow(0px 0px 3px black);
	
	width: max-content;
	height: max-content;
	min-height: calc(1em + 8px);
	min-width: 150px;
}
.window_top {
	background: #0c0c0c;
	border-bottom: solid 1px rgba(22, 22, 22, 1);
	height: 1em;
	padding: 4px;

	display: flex;
	flex-direction: row;
}
.window_icon {
	width: 16px;
	height: 16px;
	margin-right: 4px;
}
.window_title {
	flex: 1;
	background: inherit;
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	filter: invert() grayscale() contrast(1000);
}
.window_close {
	cursor: pointer;
	
	width: 16px;
	height: 16px;
}
.window_overlay {
	background: url(/sys/assets/drag_overlay.png);
	position: absolute;
	top: calc(1em + 9px);
	left: 0px;
	bottom: 0px;
	right: 0px;
	image-rendering: pixelated;
}
.window.resizable {
	resize: both;
}
.window > iframe {
	display: block;
	width: 100%;
	height: 100%;
}

/* UI Element styles */
div.ui_item {
	position: absolute;
	
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer / Edge */
	-o-user-select: none;
	user-select: none; /* Non-prefixed version */

	transition: filter 0.2s ease-in-out;
}
.dragging {
	cursor: grabbing;
	filter: drop-shadow(rgba(0, 0, 0, 0.5) 4px 4px 3px);
	box-shadow: none;
}

/* Taskbar styles */
.taskbar-container {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 48px;
	background: rgba(0, 0, 0, 0.3);
	border-top: solid 1px rgba(255, 255, 255, 0.3);

	z-index: 1000000000000;
	backdrop-filter: blur(4px);
	
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	align-content: center;
	gap: 8px;
}
#taskbar-items {
	display: flex;
	flex-direction: row;
	overflow: overlay;
}
#taskbar-items::-webkit-scrollbar {
	height: 4px;
}
#taskbar-items::-webkit-scrollbar-track {
	border-radius: 100px;
}
#taskbar-items::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0.5);
	border-radius: 100px;
}
#taskbar-items::-webkit-scrollbar-thumb:hover {
	background: rgba(255, 255, 255, 0.75);
}
.taskbar-item {
	height: 32px;
	width: 32px;
	margin: 8px;
}
.start-button-container, #status-icons-container {
	display: flex;
	flex-direction: row;
}
#taskbar-time {
	color: var(--backgroundcolor);
	white-space: nowrap;
	margin: 0px 8px;
	text-align: center;
	font-size: 12px;
}

/* Context menu styles */
.contextmenu {
	position: absolute;
	background-color: var(--backgroundcolor);
	color: var(--textcolor);
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
	z-index: 2000000000000;
	
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer / Edge */
	-o-user-select: none;
	user-select: none; /* Non-prefixed version */

	display: flex;
	flex-direction: column;
}
.contextmenu-item {
	padding: 4px 8px;
	margin: 2px;
	border-radius: 4px;
	transition: background-color 0.1s ease-in-out;
	white-space: nowrap;
}
.contextmenu-item.grayed-out {
	color: gray;
	cursor: default;
}
.contextmenu-item:not(.grayed-out):hover {
	background-color: rgba(0, 0, 0, 0.1);
	cursor: pointer;
}
.contextmenu-spacer {
	background-color: rgba(0, 0, 0, 0.2);
	height: 1px;
	width: 100%;
}

/* General styles */
canvas, img {
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}
img {
	-webkit-user-drag: none; /* Safari */
	-khtml-user-drag: none; /* Konqueror HTML */
	-moz-user-drag: none; /* Old versions of Firefox */
	-o-user-drag: none;
	-ms-user-drag: none; /* Internet Explorer / Edge */
	user-drag: none; /* Non-prefixed version */
	
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer / Edge */
	-o-user-select: none;
	user-select: none; /* Non-prefixed version */
}
iframe {
	border: 0 none;
	background: transparent;
}
.hidden {
	visibility: hidden !important;
	display: none;
}