@use "./colors.scss" as c;

@mixin gray-inset {
    background-color: c.$carbon-7;
    border-top: var(--un-menubar-thickness) solid c.$carbon-6;
    border-left: var(--un-menubar-thickness) solid c.$carbon-6;
    border-right: var(--un-menubar-thickness) solid c.$carbon-9;
    border-bottom: var(--un-menubar-thickness) solid c.$carbon-9;
}

@mixin gray-outset {
    background-color: c.$carbon-8;
    border-top: var(--un-menubar-thickness) solid c.$carbon-9;
    border-left: var(--un-menubar-thickness) solid c.$carbon-9;
    border-right: var(--un-menubar-thickness) solid c.$carbon-6;
    border-bottom: var(--un-menubar-thickness) solid c.$carbon-6;
}
