$carbon-10: lab(95% 0 0);
$carbon-9: lab(88% 0 0);
$carbon-8: lab(80% 0 0);
$carbon-7: lab(70% 0 0);
$carbon-6: lab(60% 0 0);
$carbon-5: lab(48% 0 0);
$carbon-4: lab(36% 0 0);
$carbon-3: lab(24% 0 0);
$carbon-2: lab(14% 0 0);
$carbon-1: lab(5% 0 0);
