@use "./mixin/borders.scss" as *;
@use "./mixin/colors.scss" as c;
@use "./mixin/cursors.scss" as cur;
@use "./desktop.scss";
@use "./taskbar.scss";
@use "./window.scss";
@use "./menu.scss";

@import url("https://debutter.dev/x/css/simple.css");

@font-face {
	font-family: "departure mono";
	src: url("/DepartureMono-1.500/DepartureMono-Regular.woff2") format("woff2");
}

:root {
	--un-menubar-thickness: 2px;
}

html,
body {
	height: 100%;
}

body {
	font-family: "departure mono", "Courier New", Courier, monospace;
	font-size: 16.5px;
	height: 100%;
	overflow: hidden;
	text-size-adjust: none;
	background-color: black;
	cursor: cur.$default;
}

*,
::before,
::after {
	box-sizing: border-box;
	font-variant-numeric: tabular-nums;
	text-rendering: optimizelegibility;
	user-select: none;
}

input,
button,
select,
textarea {
	font: inherit;
	letter-spacing: inherit;
	word-spacing: inherit;
}
button {
	cursor: cur.$pointer;
}
input[type="text"] {
	cursor: cur.$text;
}

/* Generic */
.bold-text {
	text-shadow: -1px 0px;
	letter-spacing: 1px;
}
.white-text {
	color: white;
	text-shadow: #245dda 0px 1.5px;
}

.flex-spacer {
	flex: 1;
}

.moveable {
	transition: filter 0.1s ease-in-out;
}
.moving {
	cursor: cur.$grabbing !important;
	filter: drop-shadow(rgba(0, 0, 0, 0.5) 3px 3px 0px);
}
.fix-drag {
	pointer-events: none;
}

/* Gui container */
.gray-container,
button {
	@include gray-outset;
}
button,
input[type="text"] {
	padding: calc(var(--un-menubar-thickness) * 2) calc(var(--un-menubar-thickness) * 4);
}
.white-inset,
input[type="text"],
.gray-inset,
button:active,
button.active {
	@include gray-inset;
}
.white-inset,
input[type="text"] {
	background-color: c.$carbon-10;
}
button:focus-visible,
input[type="text"]:focus-visible {
	outline: 1px dotted black;
	outline-offset: calc(var(--un-menubar-thickness) * -2);
}
