/*
 * Taskbar styles
 */

#taskbar {
	display: flex;
	gap: 4px;

	position: absolute;
	bottom: 0px;
	width: 100vw;
	height: 30px;
	padding: 2px;
	margin: 0px;
	z-index: 1000000; /* Absurdly high number */
}

.gray-container {
	background: silver;
	border-top: 1px solid silver;
	border-left: 1px solid silver;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
	box-shadow: inset 1px 1px #dfdfdf, 1px 0 black, 0 1px black, 1px 1px black;
}

.gray-button {
	padding: 1px 4px;
	color: black;
	border-top: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
	box-shadow: inset 1px 1px #dfdfdf, 1px 0 black, 0 1px black, 1px 1px black;
	background-color: silver;
}
.gray-button:active,
.gray-button.active {
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
	box-shadow: inset 1px 1px grey, 1px 0 white, 0 1px white, 1px 1px white;
}

.gray-inset {
	padding: 1px 4px;
	border-top: 1px solid gray;
	border-left: 1px solid gray;
	box-shadow: 1px 0 #fff, 0 1px #fff, 1px 1px #fff;
	background-color: #b8b8b8;
	margin-right: 1px;
	margin-bottom: 1px;
}

.taskbar-item {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4px;
}

.taskbar-icon {
	width: 16px;
	height: 16px;
}

/*
 * Menu bar styles
 */

#taskbar-notif {
	display: flex;
	align-items: center;
	gap: 6px;
}

#taskbar-notif .time {
	font-size: 12px;
}
#taskbar-notif .date {
	font-size: 10px;
}
